
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================================
nav Section
=================================== */

.navbar-brand{
  font-size: 3rem;
  color: #ff0000;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-shadow: 15px 2px 35px #ff0000;
  transition: .6s;
}
.navbar-brand:hover{
  color: #0511b8;
  text-shadow: 15px 2px 35px #0511b8;
  padding-left: 10px;
}

.nav-link{
  color: rgb(10, 10, 94);
  transition: 0.6s;
}
.nav-link:hover{
  color: #ff0000;
  transition: 0.6s;
  padding-left: 10px;
}
.nav-item{
  color: rgb(7, 7, 78);
  font-weight: 500;
  padding-left: 35px;
}
.btn0{
  height: 52px;
  width: 130px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.6s;
  background-color: rgb(248, 83, 83);
}
.btn0:hover{
  background-color: rgb(214, 11, 11);
  transition: all 0.6s;
  padding-left: 15px;
}

.btn1{
  height: 52px;
  width: 130px;
  background-color: transparent;
  color: rgb(248, 20, 20);
  outline: none;
  border: 2px solid rgb(248, 20, 20);
  transition: all 0.6s;
}
.btn1:hover{
  background-color: rgb(214, 11, 11);
  transition: all 0.6s;
  color: #fff;
  border-color:rgb(214, 11, 11) ;
  padding-left: 15px;
}

/* ================================
Main Section
=================================== */

.main{
  background: url(image/first_back.jpg)no-repeat;
  background-size: cover;
  min-height: 95vh;
  width: 100%;
}
.main h1{
  font-size: 4rem;
  font-weight: 800;
  color: rgb(7, 7, 78);
}
.main input{
  height: 71px;
  width: 70%;
  border: none;
  outline: none;
  padding: 15px;
}
.btn2{
  height: 71px;
  width: 25%;
  background-color: rgb(243, 73, 73);
  color: #fff;
  margin-left: -4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.6s;
}
.btn2:hover{
  background-color: rgb(214, 11, 11);
  transition: all 0.6s;
  padding-left: 15px;
}

/* ================================
Ceta Section
=================================== */

.red{
  color: #ff0000;
}

.ceta h1{
  font-size: 3.5rem;
  color: rgb(7, 7, 78);
}

.ceta .card:hover{
  color: #ff0000;
  cursor: pointer;
  transition: all 0.6s;
  box-shadow: -3px 3px 24px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 3px 24px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 3px 24px -7px rgba(0,0,0,0.75);
}

.btn3{
  height: 70px;
  width: 230px;
  border: 1px solid rgb(130, 130, 231);
  background: transparent;
  color: rgb(130, 130, 231);
  border-radius: 5px;
  transition: all .7s;
}
.btn3:hover{
  background: rgb(102, 102, 214);
  color: #fff;
  transition: all .7s;
  padding-left: 15px;
}

/* ================================
resume Section
=================================== */

.resume{
  background:linear-gradient(rgba(4,11,75,0.719), rgba(4,26,100, 0.73)), url(image/books_men_back.jpg)no-repeat;
  background-size: cover;
  width: 100%;
  height:105vh;
}
.resume h1{
  font-size: 3.8rem;
}

/* ================================
Job Section
=================================== */

.job h1{
  font-size: 3.5rem;
  color: rgb(7, 7, 78);
}
.btn4{
  height: 60px;
  width: 30%;
  border: none;
  outline: none;
  border-radius: 5px;
  background: rgb(243, 73, 73);
  color: #fff;
  transition: all 0.6s;
}
.btn4:hover{
  background: rgb(214, 11, 11);
  color: #fff;
  border: none;
  outline: none;
  transition: all 0.6s;
  padding-left: 15px;
}

/* ================================
Apply Section
=================================== */

.apply{
  background: url(image/cool-background.png)no-repeat;
  background-size: cover;
  width: 100%;
}
.apply .card{
  background-color: rgb(4, 26, 100, 0.801);
  color: #fff;
}
.cir1{
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}
.cir1 img{
  border-radius: 50%;
}

/* ================================
Carousel Section
=================================== */

.avater{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.para{
  font-size: 1.5rem;
  font-weight: 300;
}
.btn5{
  width: 30%;
  height: 60px;
  background: rgb(243, 73, 73);
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.6s;
}
.btn5:hover{
  background: rgb(214, 11, 11);
  border: none;
  outline: none;
  transition: all 0.6s;
  padding-left: 15px;
}

/* ================================
footer Section
=================================== */

.footer{
  background: #121626;
  color: #fff;
}
.footer p{
  margin: 0;
  color: #69696b;
}

.link{
  color: #6b6b72;
  transition: all 0.4s;
}
.link:hover{
  color: #ff2962;
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
